[options]
addons_path = {{ default .Env.ODOO_ADDONS_PATH "/mnt/extra-addons,/opt/extra-addons,/opt/custom-addons" }}
data_dir = {{ default .Env.ODOO_DATA_DIR "/var/lib/odoo" }}
db_host = {{ default .Env.POSTGRES_HOST "db" }}
db_port = {{ default .Env.POSTGRES_PORT "5432" }}
db_user = {{ default .Env.POSTGRES_USER "odoo" }}
db_password = {{ default .Env.POSTGRES_PASSWORD "odoo" }}
admin_passwd = {{ default .Env.ODOO_ADMIN_PASSWORD "fYtHLVFCnkfPJyk7GEAGB3R42sq86UEgH" }}
; csv_internal_sep = ,
; db_maxconn = 64
; db_name = False
; db_template = template1
; dbfilter = .*
; debug_mode = False
email_from = {{ default .Env.EMAIL_FROM "" }}
; limit_memory_hard = 2684354560
; limit_memory_soft = 2147483648
; limit_request = 8192
; limit_time_cpu = 60
; limit_time_real = 120
; list_db = True
; log_db = False
; log_handler = [':INFO']
; log_level = info
logfile = {{ default .Env.ODOO_LOGFILE "False" }}
longpolling_port = 8072
max_cron_threads = 1
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
smtp_host = {{ default .Env.SMTP_HOST "localhost" }}
smtp_port = {{ default .Env.SMTP_PORT "465" }}
smtp_user = {{ default .Env.SMTP_USER "" }}
smtp_password = {{ default .Env.SMTP_PASSWORD "" }}
smtp_ssl = True
workers = 5
xmlrpc = True
; xmlrpc_interface =
xmlrpc_port = 8069
; xmlrpcs = True
; xmlrpcs_interface =
; xmlrpcs_port = 8071
proxy_mode = True
